*, 
*::before,
*::after
{box-sizing:border-box;}

@font-face {
    font-family: 'RobotoSlab-Bold';
    src:  url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoSlab-Regular';
    src:  url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
}

:root {
    --text-color: #616161;
    --special-color: #fb973b;
    --base-color: #000;
}

body {
    font-family: 'RobotoSlab-Regular', serif;
    background-color: #fff;
    background-image: url(../assets/background.png);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}


/* шапка сайта */

.header-logo {
    padding-top: 30px;
}

.header-menu {
    display: flex;
    padding-top: 50px;
}

.header-menu__item {
    padding-left: 45px;
}

.header-menu__item_link {
    color: var(--text-color);
    font-size: 15px;
}


/* основное содержимое */


.main__promo_offer {
    margin-top: 105px;
    width: 950px;
    color: var(--base-color);
    font-weight: 700;
    font-size: 50px;
}

.main__promo_text {
    width: 35%;
    color: var(--text-color);;
    font-size: 24px;
}

.main__promo_offer span {
    background-image: linear-gradient(to right, #fb973b 0%, #fb973b 100%);
    background-repeat: repeat-x; 
    background-position: 0 75%; 
    background-size: 100% 10px;
}

.main__promo_text span {
    color: var(--special-color);
    font-weight: 700;
}

.btn {
    background-color: var(--special-color);
    color: #fff;
    width: 200px;
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    width: 200px;
}

.main__background-image {
    background-image: url(../assets/Cow.png);
    background-repeat: no-repeat;
    height: 638px;
    background-size: 960px;
    background-position-x: 95%;
    background-position-y: 15px;
}


/* основное содержимое. о компании */
.main__description {
    margin: 100px 0;
}

.main__description_img {
    width: 100%;
}

.main__description_promo {
    color: var(--base-color);
    font-weight: 700;
    font-size: 50px;
}

.main__description_promo span {
    background-image: linear-gradient(to right, #fb973b 0%, #fb973b 100%);
    background-repeat: repeat-x; 
    background-position: 0 75%; 
    background-size: 100% 10px;
}

.description-text {
    max-width: 700px;
    margin: 0 auto;
    color: var(--text-color);;
    font-size: 24px;
}

.main__description_text {
    text-align: center;
    color: var(--base-color);;
    font-size: 18px;
    width: 360px;
    margin: 0 auto;
}

.icon {
    margin: 20px 0;
}


/* медиа-запросы */

/*шапка сайта*/

@media screen and (max-width: 991px) {
    .header-menu {
        padding-top: 10px;
        margin-left: 0;
    }
}

/* основное содержимое */


@media screen and (max-width: 735px) {
    
    .main__description {
        margin: 50px 0;
    }
    .main__promo_text {
        font-size: 14px;
    }
    .main__promo_offer {
        width: 100%;
        font-size: 30px
    }

    /*шапка сайта*/
    .header-menu {
        flex-wrap: wrap;
    }

    .header-menu__item {
        padding: 15px;
    }

}


@media screen and (max-width: 935px) {
    .main__background-image {
        background-size: 600px;
        background-position-x: 170px;
        background-position-y: 87px;
    }
}

@media screen and (max-width: 635px) {
    .main__background-image {
        background-size: 300px;
        background-position-x: 230px;
        background-position-y: 270px;
    }
}

@media screen and (max-width: 535px) {
    .main__background-image {
        background-position-y: 380px;
        height: 538px;
    }

    /* основное содержимое. о компании */
    .main__description_img {
        width: 50%;
    }

    .main__description_text {
        font-size: 16px;
    }
}
